In [2]:
import pandas as pd

In [4]:
pwd

'C:\\Users\\brand'

In [6]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 26BF-732F

 Directory of C:\Users\brand

07/14/2025  10:44 AM    <DIR>          .
02/25/2023  11:11 PM    <DIR>          ..
01/30/2025  10:06 PM    <DIR>          .anaconda
05/20/2023  06:20 PM    <DIR>          .android
07/10/2025  11:00 PM    <DIR>          .bito
07/17/2023  10:30 PM    <DIR>          .cache
07/14/2025  10:45 AM    <DIR>          .conda
01/08/2025  11:00 PM               146 .condarc
01/08/2025  10:58 PM    <DIR>          .continuum
07/17/2023  10:30 PM    <DIR>          .eclipse
09/15/2023  11:02 AM                55 .gitconfig
07/14/2025  10:44 AM    <DIR>          .ipynb_checkpoints
01/08/2025  11:08 PM    <DIR>          .ipython
10/21/2023  09:29 PM    <DIR>          .jdks
01/09/2025  10:13 PM    <DIR>          .jupyter
12/13/2023  10:41 AM                20 .lesshst
07/13/2023  06:11 PM    <DIR>          .m2
02/20/2025  11:36 PM    <DIR>          .matplotlib
07/17/2023  10:30 PM    <DIR>          .p2
05/20/2023  06:03 PM    <DIR>          .redhat
09/15/2023  11:13 AM    <DIR>          .ssh
03/23/2025  10:10 PM    <DIR>          .vscode
04/16/2022  01:16 PM           913,555 Amazon_Bestseller_books.csv
05/13/2022  10:40 PM             7,225 amazon_products.csv
01/08/2025  11:04 PM    <DIR>          anaconda_projects
01/29/2025  10:23 PM    <DIR>          anaconda3
07/03/2024  03:12 PM             9,695 best_selling_books_2.csv
01/30/2025  06:27 PM             4,052 Calculator
01/26/2025  08:53 PM           564,580 car_price_dataset.csv
02/26/2023  12:45 PM    <DIR>          Contacts
09/15/2023  10:49 PM    <DIR>          cs410-f23
10/21/2023  09:15 PM    <DIR>          cs410-f23-hw4
11/01/2023  06:44 PM             4,082 cs410-f23-hw5.zip
04/27/2024  09:09 PM    <DIR>          CS430-Project
02/12/2024  12:49 AM    <DIR>          CS451
02/09/2024  06:07 PM    <DIR>          Cs451-01
03/13/2024  12:28 PM    <DIR>          CS451-porj3
02/09/2024  10:35 PM    <DIR>          cs451proj
02/20/2025  11:00 PM            34,423 data_largest_smallest
02/12/2025  09:34 PM            91,142 data1.ipynb
02/12/2025  09:58 PM            35,322 data2.ipynb
02/13/2025  11:27 PM            29,010 data3.ipynb
02/20/2025  11:32 PM            19,349 Data4.ipynb
02/20/2025  11:41 PM            50,829 Data7.ipynb
02/21/2025  12:38 PM            88,176 data8.ipynb
02/21/2025  12:29 PM            76,862 Data9.ipynb
10/26/2023  09:48 AM    <DIR>          Desktop
09/15/2023  12:35 PM    <DIR>          Documents
07/14/2025  10:38 AM    <DIR>          Downloads
02/22/2024  09:36 PM             1,185 drug-overdose-death-rates new.csv
07/17/2023  10:26 PM    <DIR>          eclipse
07/18/2023  08:27 PM    <DIR>          eclipse-workspace
02/21/2025  12:58 PM           150,824 Exercise2.ipynb
02/26/2023  12:45 PM    <DIR>          Favorites
12/14/2023  11:59 PM    <DIR>          fibbage
02/02/2023  06:16 PM    <DIR>          hefeiqiu
08/02/2023  05:51 PM       106,149,815 house_prices.csv
12/13/2023  10:19 AM    <DIR>          hw1
11/01/2023  06:47 PM    <DIR>          IdeaProjects
10/01/2019  01:15 PM         2,381,977 kc_house_data.csv
02/26/2023  12:45 PM    <DIR>          Links
02/26/2023  12:45 PM    <DIR>          Music
09/27/2021  05:44 AM         3,399,671 netflix_titles.csv
04/24/2025  04:13 PM    <DIR>          OneDrive
04/24/2025  04:13 PM    <DIR>          OneDrive - University of Massachusetts Boston
09/15/2023  12:51 PM    <DIR>          projects
05/01/2024  08:56 AM    <DIR>          Pyhton_Project
03/25/2023  06:54 PM    <DIR>          Python
03/23/2025  10:11 PM    <DIR>          Python_project
02/26/2023  12:45 PM    <DIR>          Saved Games
02/26/2023  12:45 PM    <DIR>          Searches
01/29/2025  10:51 PM             1,646 Test1
01/30/2025  07:04 PM            44,225 titanic.csv
02/10/2023  05:25 PM             2,321 tutor.c
02/14/2025  12:01 PM            16,310 Untitled.ipynb
01/16/2025  04:17 PM                 0 untitled.py
01/16/2025  04:05 PM                 0 untitled.txt
02/14/2025  11:59 AM            24,691 Untitled1.ipynb
01/30/2025  07:07 PM                 0 untitled1.py
02/13/2025  10:38 PM                 0 untitled1.txt
03/05/2025  10:48 PM                72 Untitled10.ipynb
03/05/2025  10:49 PM                72 Untitled11.ipynb
03/05/2025  10:49 PM                72 Untitled12.ipynb
03/05/2025  10:59 PM            24,897 Untitled13.ipynb
03/05/2025  11:32 PM            80,895 Untitled14.ipynb
07/14/2025  10:44 AM               337 Untitled15.ipynb
02/20/2025  10:25 PM            18,602 Untitled2.ipynb
02/20/2025  10:22 PM               337 Untitled3.ipynb
02/21/2025  12:41 PM               337 Untitled4.ipynb
02/25/2025  10:20 PM            38,417 Untitled5.ipynb
02/27/2025  05:37 PM                72 Untitled6.ipynb
02/27/2025  05:37 PM                72 Untitled7.ipynb
02/27/2025  06:00 PM            22,004 Untitled8.ipynb
02/27/2025  05:55 PM            13,896 Untitled9.ipynb
02/26/2023  12:45 PM    <DIR>          Videos
02/10/2024  02:53 PM    <DIR>          workspace
              45 File(s)    114,301,270 bytes
              51 Dir(s)  23,646,527,488 bytes free

In [10]:
# read the Amazon_Bestseller_books.csv dataset into dataframe
bestsellers = pd.read_csv("Amazon_Bestseller_books.csv")

In [14]:
# how many rows and columns the df has
bestsellers.shape

(3500, 8)

In [16]:
# inspect the first 5 rows
bestsellers.head()

,Genre,Ranks,Product,Author,Links,Price,Rating,Reviews
0,All,1,The Psychology of Money,Morgan Housel,https://amazon.in/Psychology-Money-Morgan-Hous...,285.00,4.6,"31,568"
1,All,2,Atomic Habits: The life-changing million copy ...,James Clear,https://amazon.in/Atomic-Habits-James-Clear/dp...,520.00,4.6,"38,604"
2,All,3,Word Power Made Easy,Norman Lewis,https://amazon.in/Word-Power-Made-Norman-Lewis...,98.00,4.4,"37,007"
3,All,4,Oswaal CBSE Term 2 English Science Social Scie...,Oswaal Editorial Board,https://amazon.in/Oswaal-English-Science-Stand...,398.00,4.6,NaN
4,All,5,Grandma's Bag of Stories: Collection of 20+ Il...,Sudha Murty,https://amazon.in/Grandmas-Bag-Stories-Sudha-M...,155.00,4.6,NaN

In [18]:
# inspect the first 19 rows
bestsellers.head(19)

,Genre,Ranks,Product,Author,Links,Price,Rating,Reviews
0,All,1,The Psychology of Money,Morgan Housel,https://amazon.in/Psychology-Money-Morgan-Hous...,285.00,4.6,"31,568"
1,All,2,Atomic Habits: The life-changing million copy ...,James Clear,https://amazon.in/Atomic-Habits-James-Clear/dp...,520.00,4.6,"38,604"
2,All,3,Word Power Made Easy,Norman Lewis,https://amazon.in/Word-Power-Made-Norman-Lewis...,98.00,4.4,"37,007"
3,All,4,Oswaal CBSE Term 2 English Science Social Scie...,Oswaal Editorial Board,https://amazon.in/Oswaal-English-Science-Stand...,398.00,4.6,NaN
4,All,5,Grandma's Bag of Stories: Collection of 20+ Il...,Sudha Murty,https://amazon.in/Grandmas-Bag-Stories-Sudha-M...,155.00,4.6,NaN
5,All,6,Rich Dad Poor Dad: What the Rich Teach Their K...,Robert T. Kiyosaki,https://amazon.in/Rich-Dad-Poor-Middle-Updates...,302.00,4.6,"57,471"
6,All,7,Ikigai: The Japanese secret to a long and happ...,Héctor García,https://amazon.in/Ikigai-H%C3%A9ctor-Garc%C3%A...,401.00,4.6,"31,295"
7,All,8,My First Library: Boxset of 10 Board Books for...,Wonder House Books,https://amazon.in/My-First-Library-Boxset-Boar...,606.00,4.5,"48,781"
8,All,9,27 Years UPSC IAS/ IPS Prelims Topic-wise Solv...,Mrunal Patel,https://amazon.in/Years-Prelims-Topic-wise-Sol...,335.00,4.5,NaN
9,All,10,My First Mythology Tale (Illustrated) (Set of ...,Maple Press,https://amazon.in/First-Mythology-Tale-Illustr...,189.00,4.4,"3,828"
10,All,11,Quantitative Aptitude for Competitive Examinat...,R S Aggarwal,https://amazon.in/Quantitative-Aptitude-Compet...,465.00,4.4,"24,682"
11,All,12,Man's Search For Meaning: The classic tribute ...,Viktor E Frankl,https://amazon.in/Mans-Search-Meaning-Viktor-F...,175.00,4.5,"40,265"
12,All,13,Mathematics for Class 10 - CBSE - by R.D. Shar...,R.D. Sharma,https://amazon.in/Mathematics-Class-10-Examina...,535.00,4.3,110
13,All,14,DO EPIC SHIT,Ankur Warikoo,https://amazon.in/DO-EPIC-SHIT-Ankur-Warikoo/d...,297.00,4.5,"3,729"
14,All,15,"India that is Bharat: Coloniality, Civilisatio...",J Sai Deepak,https://amazon.in/India-that-Bharat-Civilisati...,499.00,4.8,"3,190"
15,All,16,Oswaal CBSE Term 2 Science Class 10 Sample Que...,Oswaal Editorial Board,https://amazon.in/Oswaal-Science-Sample-Questi...,139.00,4.5,85
16,All,17,MTG Objective NCERT at your FINGERTIPS - Biolo...,MTG Editorial Board,https://amazon.in/MTG-Objective-NCERT-your-FIN...,573.00,4.6,NaN
17,All,18,The Power of Your Subconscious Mind,Joseph Murphy,https://amazon.in/Power-Your-Subconscious-Mind...,125.00,4.5,"51,460"
18,All,19,It Ends With Us: A Novel: Volume 1,Colleen Hoover,https://amazon.in/Ends-Us-Novel-Colleen-Hoover...,159.00,4.6,"54,209"

In [20]:
# inspect the last 5 rows
bestsellers.tail()

,Genre,Ranks,Product,Author,Links,Price,Rating,Reviews
3495,Travel,96,The Rough Guide to Switzerland (Travel Guide e...,Rough Guides,https://amazon.in/Rough-Guide-Switzerland-eboo...,"1,147.18",4.6,38
3496,Travel,97,The Narrow Road to the Deep North and Other Tr...,Matsuo Basho,https://amazon.in/Narrow-Travel-Sketches-Pengu...,NaN,4.5,NaN
3497,Travel,98,Various,Various,https://amazon.in/OUTLOOK-TRAVELLER-GETAWAYS-K...,NaN,4.2,NaN
3498,Travel,99,"Hyderabad, Golconda",Marika Sardar,https://amazon.in/Hyderabad-Golconda-Marika-Sa...,424.00,4.7,NaN
3499,Travel,100,Lev's Violin: An Italian Adventure,Helena Attlee,https://amazon.in/Levs-Violin-Adventure-Helena...,911.05,4.5,55

In [22]:
# inspect the last 2 rows
bestsellers.tail(2)

,Genre,Ranks,Product,Author,Links,Price,Rating,Reviews
3498,Travel,99,"Hyderabad, Golconda",Marika Sardar,https://amazon.in/Hyderabad-Golconda-Marika-Sa...,424.00,4.7,NaN
3499,Travel,100,Lev's Violin: An Italian Adventure,Helena Attlee,https://amazon.in/Levs-Violin-Adventure-Helena...,911.05,4.5,55

In [24]:
# which columns (if any) are missing values
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Genre    3500 non-null   object
 1   Ranks    3500 non-null   int64
 2   Product  3477 non-null   object
 3   Author   3500 non-null   object
 4   Links    3500 non-null   object
 5   Price    3346 non-null   object
 6   Rating   3429 non-null   float64
 7   Reviews  2026 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 218.9+ KB